extends layout

block content
  .row.banner
    .col-12
      h1= title
  row
    .col-12.col-lg-8
      p Where to Play helps you to find the best places to enjoy your favourite hobby: Playing board games!