extends layout

block content
  .row.banner
    .col-12
      h1 Where to Play
        small &nbsp;Share your love for board games!
  .row
    .col-12.col-md-8
      .card
        .card-block
          h4
            a(href="/locations/123") Juegame Store
            small &nbsp;
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star-o
              i.fa.fa-star-o
            span.badge.badge-pill-badge-default.badge-warning.float-right 300m
          p.address C/ Falsa, 123, Cullera
          .facilities
            span.badge.badge-warning Food
            span.badge.badge-warning Store
            span.badge.badge-warning Wi-Fi
      .card
          .card-block
            h4
              a(href="/locations/123") Juegame Store
              small &nbsp;
                i.fa.fa-star
                i.fa.fa-star
                i.fa.fa-star
                i.fa.fa-star-o
                i.fa.fa-star-o
              span.badge.badge-pill-badge-default.badge-warning.float-right 300m
            p.address C/ Falsa, 123, Cullera
            .facilities
              span.badge.badge-warning Food
              span.badge.badge-warning Store
              span.badge.badge-warning Wi-Fi
      .card
          .card-block
            h4
              a(href="/locations/123") Juegame Store
              small &nbsp;
                i.fa.fa-star
                i.fa.fa-star
                i.fa.fa-star
                i.fa.fa-star-o
                i.fa.fa-star-o
              span.badge.badge-pill-badge-default.badge-warning.float-right 300m
            p.address C/ Falsa, 123, Cullera
            .facilities
              span.badge.badge-warning Food
              span.badge.badge-warning Store
              span.badge.badge-warning Wi-Fi
    .col-12.col-md-4
      p.lead Do you want to play? Here you can find the most popular places in your city where the players meet.
